#top-nav-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.87);
  border-color: #CCC;
  z-index: 99;
}

.nav-item {
  padding: 0px;
  background-color: #DDD;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #FFF;
  text-align: center;
  position: relative;
  height: 50px;
  line-height: 50px;
}

.nav-item a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #666;
  font-family: "Verdana";
  font-weight: bold;
  font-size: 13px;
  width: 100%;
}

.nav-item:after {
  content: "";
  width: 100%;
  display: inline-block;
}

.nav-item:hover {
  background-color: #EEE;
}

.nav-logo {
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  background-color: #DDD;
  border-bottom-color: #FFF;
  border-bottom-width: 1px;
}

#logo-image {
  height: 40px;
  background-color: #DDD;
}

#image-header {
  position: relative;
  display: inline-block;
  background-image: url("/images/header.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 500px;
  text-align: center;
}

@media all and (max-width: 768px) {
  #top-nav-bar {
    position: absolute;
    height: auto;
  }

  .nav-item a {
    text-align: right;
  }

  .nav-item {
    margin-top: 15px;
  }

  #image-header {
    background-image: url("/images/header_mobile.jpg");
    height: 360px;
  }
}
