#section-2 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.feature h4 {
  font-weight: bold;
  font-size: 1.2em;
  color: #000;
}

.feature {
  padding: 0px;
}

#system {
  margin-top: 30px;
  background-image: url("/images/system.png");
  background-size: 100% 100%;
  height: 200px;
}
