#hello {
  width: 100%;
}

#section1 {
  margin-top: 20px;
}

.section {
  position: relative;
  width: 100%;
  padding-bottom: 100px;
  overflow: auto;
}

.odd-section {
  background-color: #EEE;
  overflow: auto
}

.even-section {
  margin-top: 20px;
  overflow: auto
}

.section-title {
  font-family: "Verdana";
  font-weight: 300;
  font-size: 1.2em;
  color: #333333;
}

.section-content {
  width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.bottom{
  width:100%;
  height: 50px;
  line-height: 50px;
  background-color: #444444;
  color:#DDDDDD;
  text-align:center;
  font-family: "Verdana";
  font-weight: 400;
  margin-bottom: 0px;
}
