#hello {
  width: 100%;
}

.odd-section {
  background-color: #EEE;
  overflow: auto
}

.even-section {
  overflow: auto
}

.section-title {
  font-family: "Verdana";
  font-weight: 300;
  font-size: 1.2em;
  color: #333333;
}

.section-content {
  padding-left: 20px;
  padding-right: 20px;
}

p.text-content {
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  white-space: normal;
  font-size: 1em;
  color: #000;
}
