#section-0 {
  margin-top: 50px;
  height: 250px;
  text-align: center;
}

#page-title {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;
  margin-top: 100px;
  font-color: #000;
}

#course-name {
}

#instructor span {
  font-weight: bold;
  font-style: italic;
}
