#section-4 {
  padding-bottom: 50px;
}

#section-4 ul {
  padding-left: 0px;
  list-style-position: inside;
}

ul li {
  color: #000;
}

.figure {
  display: inline-block;
  width: 50%;
}

#models {
  max-width:100%;
  max-height:100%;
  padding-right: 15%;
  padding-left: 5%;
}

#mfcc {
  padding-left: 15%;
  padding-right: 5%;
  max-width:100%;
  max-height:100%;
}

#test {
  padding-top: 50px;
  max-width:100%;
  max-height:100%;
}

.section-wrapper {
  padding-top: 50px;
  padding-left: 10%;
  text-align: left;
  height: 250px;
  border-right-style: solid;
  border-right-width: 10px;
  border-bottom-style: solid;
  border-bottom-width: 10px;
}

.figures {
}
