#music {
  text-align: center;
  margin-top: 30px;
  width: 400px;
  display: none;
}

#music-form {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

#choosefile {
  display: inline-block;
  margin-left: auto;
  width: 200px;
}

#upload {
  display: inline-block;
  border: 1px solid;
  border-radius: 4px;
  font-size: 1em;
  width: 80px;
}

#analyze {
  margin-top: 30px;
  display: none;
}

#analyze-btn {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-radius: 4px;
  font-size: 1em;
  width: 80px;
}

#analyze-result {
  width: 200px;
  height: 100px;
  font-size: 1em;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  text-align: center;
}

#ajax-waiter {
  text-align: center;
  width: 100%;
  margin-top: 30px;
  display: none;
}
