div#section-4.even-section
  div.section-wrapper.col-md-6
    p.text-content We tested following five models as our classifiers with three different mfcc dimensions as our features to see which one performs best.
    ul
      li SVM with Polynomial Kernel
      li SVM with RBF Kernel
      li SVM with Linear Kernel
      li Logistic Regression
      li Naïve Bayes
  div.col-md-6
    img#test(src="/images/test.png")
  div.figures.col-md-12
    div.figure
      img#mfcc(src="/images/MFCC.png")
    div.figure
      img#models(src="/images/models.png")
