div#section-2.even-section
  div.section-content.col-md-offset-4
    h3.section-title System Description
    p.text-content Basically, the system's work consists of two phases: model generation and identifying instruments, of which only the later is facing to users.
    h3.section-title Measure used to evaluate performance
    p.text-content We will use Precision, Recall and Fscore as measures to evaluate the performance of our system.
    h3.section-title Dataset
    p.text-content We will split the MIS dataset from University of Iowa (http://theremin.music.uiowa.edu/MIS.html) to two parts, as train and test data.
