div#section-0
  h1#page-title Identifying the Instrument in Solo Music
  h3#course-name EECS 342
  h4#instructor Professor 
    span Bryan Pardo
  div
    div.col-md-1
    div.col-md-10
      div.col-md-4
        h3.author Weiyi Zeng
        a weiyizeng2015@u.northwestern.edu
      div.col-md-4
        h3.author Nianzu Li
        a nianzuli2015@u.northwestern.edu
      div.col-md-4
        h3.author Xinyuan Zhao
        a xinyuanzhao2015@u.northwestern.edu
    div.col-md-1
