div#section-1.odd-section
  div.section-content
    h3.section-title Why is interesting
    p.textcontent Musical Instrument Identification is not only an interesting topic, but also has widely use in daily life. Firstly, it will help music engines to deal better with queries on specific music. Secondly, for those people who are not an expert in recognizing instruments’ sound, but curious about which instrument a music is played by, an automatic instrument identification system will definitely satisfying them. Furthermore, it may contribute a lot to other musical information processing problem.
