div#section-3
    div#music-form
      form#upload-form(enctype="multipart/form-data")
        input#choosefile(type="file", name="audio")
        input#upload(type="submit", value="Upload").btn-danger
      audio#music(controls)
        source#music-source(src="/music/sample.wav" type="audio/wav")
        Your browser does not support the audio element.
      div#analyze
        input#analyze-btn(type="submit", value="Analyze").btn-danger
      div
        input#analyze-result(type="textarea", placeHolder="Result will be displayed here")
      #ajax-waiter
        img(src="/images/ajax_loader.gif")
