div#section-2
  div.section-content.col-md-offset-4
    h3.section-title Steps and Progress
    p#content Step 1. We use MFCC as features, and we use PCA and LDA to optimize the features. (Done)
    p#content Step 2. We use SVM and Cross-classification (so on) to do classification. (On-Going)
    p#content Step 3. We use F-scores, prediction, and recall to measure the classification result. (To be done)
    h3.section-title Optional Steps
    p#content If time is enough, we may process the following steps.
    p#content 3. We will use PCA or LDA algorithm to optimize our features.
    p#content 4. We will use more classifier models and compare their performance.
    p#content 5. We could try to identify the predominant instrument in polyphonic music based on the content system. To be specific, we may use some software like FASST to separate music to substreams and then identify the substream.
