.nav-item a {
   width: 50%;
}

#hello {
  width: 100%;
}

#section-1 {
  margin-top: 80px;
  background-color: #EEE;
  overflow: auto
}

#section-1 .section-content {
  height: auto;
  margin-bottom: 50px;
}

#section-2 {
  background-color: #DDD;
  overflow: auto;
}

.content-wrapper {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  height: auto;
}

.content-wrapper h4 {
  font-family: "Verdana";
  font-size: 15px;
  margin-bottom: 0px;
  color: #000
}

#music-form {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

#choosefile {
  display: inline-block;
  margin-left: auto;
  width: 200px;
}

#upload {
  display: inline-block;
  border: 1px solid;
  border-radius: 4px;
  font-size: 1em;
  width: 80px;
}

#analyze {
  margin-top: 30px;
  display: none;
}

#analyze-btn {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-radius: 4px;
  font-size: 1em;
  width: 80px;
}

#analyze-result {
  width: 200px;
  height: 100px;
  font-size: 1em;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  text-align: center;
}

#music {
  text-align: center;
  margin-top: 30px;
  width: 400px;
  display: none;
}

#ajax-waiter {
  text-align: center;
  width: 100%;
  margin-top: 30px;
  display: none;
}

#log-text {
  width: 50%;
  max-height: 400px;
  background-color: #EEE;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 8px;
  padding: 10px;
  color: #000;
  display: none;
}

#section-1 .server-company-name-padding {
  padding-left:30px;
}

#section-1 .client-company-name-padding {
  padding-left:20px;
}

