extend ./layout

block custom-assets
  include assets.jade

block top-navbar
  div#top-nav-bar
    div.nav-logo.col-md-1.col-sm-2.col-xs-9
      img#logo-image(src="/images/favicon.png")
    div.nav-item.col-md-2.col-sm-2.col-xs-9
      a(href="#", onclick="$('#section-1').animatescroll({padding:50});") Introduction
    div.nav-item.col-md-2.col-sm-2.col-xs-9
      a(href="#", onclick="$('#section-2').animatescroll({padding:50});") System Description
    div.nav-item.col-md-2.col-sm-2.col-xs-9
      a(href="#", onclick="$('#section-3').animatescroll({padding:50});") Features
    div.nav-item.col-md-2.col-sm-2.col-xs-9
      a(href="#", onclick="$('#section-4').animatescroll({padding:50});") Classification
    div.nav-item.col-md-3.col-sm-2.col-xs-9
      a(href="#", onclick="$('#section-5').animatescroll({padding:50});") Try

block header

block content
  div#hello
    include sections/information
    include sections/introduction
    include sections/description
    include sections/features
    include sections/classification
    include sections/test
  p#back-top
    span
      a(href="#top", onclick="$('body').animatescroll()")
